:root {
    --background: #ffff;
    --text-color: black;
    --viola:#4F378B;
    transition: all .1s ease-in-out 0s;
    --creamy:black;

  }
  @keyframes wiggle {

    0%{
        transform: translate(0,0) scale(100%);
         transition: transform ease-in-out 1s;
        }
    25%{transform: translate(0,-10px) scale(103%);
         transition: transform ease-in-out 1s;
        }
    50%{transform: translate(-10px,0) scale(105%);
         transition: transform ease-in-out 1s;
        }
    75%{transform: translatey(0,10px) scale(103%); 
        transition: transform ease-in-out 1s;
    }
    100%{transform: translatex(10px,0) scale(100%);
        transition: transform ease-in-out 1s;
    }  
 } 

  
  .dark-theme {
    --background: #030416;
    --text-color: #ffffff;
    --viola:#4F378B;
    --creamy:#EFB8C8;
    transition: all .1s ease-in-out 0s;
  }

  body{
    background-color: var(--background);
    position: relative;
 
  }
  .ctnr{
       padding: 1%;
  }

  nav{

    background-color: transparent;
  
    z-index: 2;
}
.nav-link{
    color: var(--text-color);
}
.nav-link:active{
    color: gray;
}
.navbar-nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand{
    width: 8%;
}
  main{
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .blurrer{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    z-index: 1;
}
form{
   color: var(--text-color);
   max-width: 35vw;
   min-width: 300px;
   padding: 0 3%;

}

.form-control{
    background-color: transparent;
    color: var(--text-color);
}
.form-control:focus{
    background-color: transparent;
    color: var(--text-color);
    
}
.form-check-input{
    background-color: transparent;
}


.signin-butt{
    background-color: var(--viola);
    color: var(--text-color);
}
.signin-butt:hover{
    border:1px solid var(--viola);
    color: var(--viola);
}
.circle1,.circle2,.circle3,.circle4,.circle5{
    position: absolute;
    height: 20vw;
    border-radius: 100%;
    width: 20vw;
    z-index: 0;
    animation: wiggle 5s linear  infinite ;
    
}

.circle1{
    top: 35px;
    left: 35px;
    background-color: var(--viola);
    width: 17vw;
    height: 17vw;
    animation-delay: 0.3s;

    
}
.circle2{
    width: 17vw;
    height: 17vw;
    bottom: 30px;
    right: 30px;
    background-color: var(--creamy);
    animation-delay: 0.5s;

}
.circle3{
    top: 50px;
    right: 35vw;
    background-color: #46298d;
    animation: wiggle 5s linear  infinite 1.3s;
    width: 15vw;
    height: 15vw;

    
}
.circle4{
    bottom: 50px;
    right: 50vw;
    background-color: #eb89a5;
    width: 15vw;
    height: 15vw;
    animation: wiggle 5s linear  infinite 0.7s;

}

